body {
  background-color: #1e1e1e;
  color: #f0f0f0;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  margin: 0;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #ffb74d;
}

h1 {
  color: #ffb74d;
  margin: 0;
}

h2 {
  color: #ccc;
  font-weight: 400;
  margin: 0;
}

.section {
  margin: 20px 0;
}

input[type="text"] {
  background: #2c2c2c;
  color: white;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 6px 10px;
  margin-left: 5px;
}


.hangup-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.hangup-btn:hover {
  background-color: rgba(255, 0, 0, 0.377);
}


.button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #009688;
}

.video-section {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

video {
  border-radius: 8px;
  border: 2px solid #444;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
